.idea
.idea/*
*.pyc

*/__pycache__/*
db.sqlite3
static/*
connect_to_server.sh
deploy.sh

node_modules
package-lock.json
.DS_Store

.idea
.idea/*
*.pyc
*/__pycache__/*
db.sqlite3
static/*
datatest_word2vec.txt
