[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
billiard = "*"
celery = "<5.0.0"
chardet = "*"
click = "*"
decorator = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-celerybeat-status = "*"
django-cors-headers = "*"
django-timezone-field = "*"
django = "<3.0.0"
djangorestframework = "*"
drf-yasg = "*"
en_core_web_sm = { file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz#en_core_web_sm' }
gensim = "*"
gunicorn = "*"
image = "*"
importlib-metadata = "*"
jellyfish = "*"
joblib = "*"
kombu = "*"
langdetect = "*"
matplotlib = "*"
matplotlib-venn = "*"
matplotlib-venn-wordcloud = "*"
monthdelta = "*"
mpld3 = "*"
networkx = "*"
nltk = "*"
oauthlib = "*"
pandas = "*"
pattern = "*"
psycopg2 = "*"
pysocks = "*"
python-crontab = "*"
python-dateutil = "*"
pytz = "*"
redis = "*"
regex = "*"
requests-oauthlib = "*"
retrying = "*"
scikit-learn = "*"
scipy = "*"
segtok = "*"
six = "*"
sqlparse = "*"
tweepy = "*"
vine = "*"
wikipedia-api = "*"
zipp = "*"

[dev-packages]
