[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.3"
python-dotenv = "*"
tqdm = "==4.64.0"
celery = "==4.3.0"
django-celery-results = "==1.1.2"
wikipedia = "==1.4.0"
wikipedia-api = "==0.5.4"
nltk = "==3.8.1"
stanfordcorenlp = "==3.9.1.1"
scikit-learn = "==1.0.2"
sentence-transformers = "==2.2.2"
spacy = "==2.1.9"
allennlp = "==0.9.0"
flair = "==0.8.0.post1"
djangorestframework = "==3.11.0"
sparqlwrapper = "==1.8.5"
eventlet = "==0.31.0"
django-cors-headers = "==3.2.1"
django-celery-beat = "==1.5.0"
tweepy = "==3.8.0"
tensorflow = "==2.3.4"
jellyfish = "==0.7.2"
pattern = "==3.6.0"
mysqlclient = "==2.0.3"
tensorflow-hub = "==0.12.0"
monthdelta = "==0.9.1"
redis = "==3.4.1"
django-celerybeat-status = "==0.0.10"
django-dotenv = "==1.4.2"

[dev-packages]

[requires]
python_version = "3.7"
