[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
celery = "<5.0.0"
chardet = "*"
decorator = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-celerybeat-status = "*"
django-cors-headers = "*"
django = "<3.0.0"
drf-yasg = "*"
en_core_web_sm = { file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz#en_core_web_sm' }
gensim = "*"
gunicorn = "*"
image = "*"
importlib-metadata = "*"
importlib_resources = "*"
jellyfish = "*"
langdetect = "*"
matplotlib-venn-wordcloud = "*"
monthdelta = "*"
mpld3 = "*"
networkx = "*"
nltk = "*"
pandas = "*"
pattern = "*"
psycopg2 = "*"
pysocks = "*"
redis = "<5.0.0"  # for Python <3.10
retrying = "*"
scikit-learn = "*"
segtok = "*"
tweepy = "*"
wikipedia-api = "*"

[dev-packages]
