amqp
asgiref
backports.csv
beautifulsoup4
billiard
blis
catalogue
celery==4.3.0
certifi
cffi
chardet
cheroot
CherryPy
click
coreapi
coreschema
cryptography
cycler
cymem
decorator
Django
django-celery-beat
django-celery-results
django-celerybeat-status
django-cors-headers
django-dotenv
django-timezone-field
djangorestframework
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
dnspython
drf-yasg
eventlet
feedparser
future
gensim==3.8.2
greenlet
gunicorn
idna
image
importlib-metadata
inflection
itypes
jaraco.classes
jaraco.collections
jaraco.functools
jaraco.text
jellyfish
Jinja2
joblib
kiwisolver
kombu
langdetect
lxml
MarkupSafe
matplotlib
matplotlib-venn

MonthDelta
more-itertools
mpld3
murmurhash
mysqlclient
networkx
nltk
numpy
oauthlib
packaging
pandas
Pattern
pdfminer.six
Pillow
plac
portend
preshed
psycopg2
pycparser
pyparsing
PySocks
python-crontab
python-dateutil
python-docx
pytz
pywin32
redis
regex
requests
requests-oauthlib
retrying
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
segtok
sgmllib3k
six
sklearn
smart-open
sortedcontainers
soupsieve
spacy
sqlparse
srsly
tempora
thinc
tqdm
tweepy==3.8.0
uritemplate
urllib3
vine
wasabi
Wikipedia-API

zc.lockfile
zipp
