BASE_URL=https://rima-dev.sc.inko.cloud
DJANGO_SECRET_KEY=
DJANGO_LOGLEVEL=info
GUNICORN_LOG_LEVEL=info

POSTGRES_PASSWORD=interest_miner
POSTGRES_USER=interest_miner
POSTGRES_DB=interest_miner_db

TWITTER_CONSUMER_KEY=q3tv2FEcuhreRWO4WYtSAyJAj
TWITTER_CONSUMER_SECRET=vxrXdz8TpiQQhQv7GSHMBliGQoMzGPNMdUpcVercmCYb8UqvzF
TWITTER_ACCESS_TOKEN=1106978050850328578-2HjYKtDlRU3J88emRjV4TmkUapeJWl
TWITTER_ACCESS_TOKEN_SECRET=doG0kjyHoD4tGBUnKTneUDZjUD392dRR3z8PwTJ2Autwm
TWITTER_FETCH_DAYS=180

GLOVE_MODEL_GDRIVE_ID=1FfQgEjR6q1NyFsD_-kOdBCHMXB2QmNxN
GLOVE_MODEL_FILE_PATH=/home/app/.tmp/datatest_word2vec.txt
