.cursor--pointer {
  cursor: pointer;
}

div#tag-search-container {
  border: 1px solid rgb(140, 140, 137, 0.6);
  padding-top: 5px;
  width: 85%;
  border-radius: 25 !important;
}

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
}

/* Styles for selected tags */
/* div.ReactTags__selected span.ReactTags__tag::before {
      content: "<i class='far fa-ellipsis-v'></i>";
      width: 15px;
      font-size: 10px;
  }
   */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  color: #000;
  font-weight: bold;
  background: #eee;
  font-size: 14px;
  display: inline-block;
  padding: 5px;
  margin: 5px 5px;
  cursor: move;
  border-radius: 2px;
  background-color: rgb(94, 114, 228, 0.6);
}

div.ReactTags__selected a.ReactTags__remove {
  color: white;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.paper-interests-box {
  /* margin-left: 20px; */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(140, 140, 137, 0.6);
}
.publication-modal h5 , .modalCSS h5{
  width: 100%;
  margin-top: 10px;
}
/* Tannaz */

.Seperator {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  border-bottom: 1px solid rgb(129, 129, 129);
  text-align: center;
  font-size: 18px;

}

/* .popper-div  p {
  font-size: 13px !important;

}
.popper-div {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #363636;
  width:auto;
  height: auto;
  background-color: #363636;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 8px 8px 0px 8px ;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
}


.popper-div::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
} */


.paper-interests-box legend {
  width: auto;
  margin-left: 20px;
  padding: 0px 10px;
}

.what-if-btn {
  border: 1px solid #172B4D;
  border-radius: 10px;
  padding: 10px;
}
/* Jaleh - MUI Tabs */
.tab.Mui-selected{
  color: #2d3985 !important;
}

.outlined-new-interest input{
  padding: 10px;
}
#outlined-potential-keywords{
  width: 100%;
  padding: 0px 100px 35px 100px;
}